@{
    ViewBag.Title = "Social News";
}

<div class="border float-left" style="height: 595px">
    <div id="famax" class="float-left" style="width: 53%">
        <div id="famax-header">
            <a target="_blank" href="https://www.facebook.com/pages/Circle-Of-Funk/200734783279825">
                <img style="vertical-align: middle; height: 60px; margin: 15px; display: inline-block;" src="../Images/News/NewsItem.png" alt="Facebook"/>Circle Of Funk</a>&nbsp;&nbsp;&nbsp;
            <div class="famax-like-wrapper float-right" style="margin-right: 10px">
                <div class="fb-like" data-href="https://www.facebook.com/pages/Circle-Of-Funk/200734783279825" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
        </div>
    </div>
    <div style="width: 45%" class="float-right">
        <a style="height: 600px" class="twitter-timeline" href="https://twitter.com/Circleoffunk" data-widget-id="506748934878801920">Tweets by Circle of Funk</a>
    </div>
</div>


@section scripts{
    @*@Scripts.Render("~/bundles/famax")*@
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}


