@{
    ViewBag.Title = "Latest News";
}

<div id ="news" class="vticker float-left border">
    <ul id="newsList">
    </ul>
</div>

@section scripts{
    @Scripts.Render("~/bundles/newsticker")
}